/*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    justify-content: center;
    min-height: 100vh;
}*/

.navbar{
    z-index: 5;
}
.contact_us_container{
    position: relative;
    /*width: 100%;
    height: 2px;*/
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 110px;
}

.Contact_us_items {
    width: 1150px;
    height: 500px;
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 0;
}

.submit_form{
    background-color: lightgray;
}

.contact_info{
    background-color: white;
    padding: 50px;
}

.contact_info h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.contact_info p{
    font-size: 18px;
    padding-bottom: 30px;
}

.icons_and_details{
    padding: 20px;
}

.phone_info{
    display: flex;
}

.phone_info i{
    font-size: 50px;
    padding-right: 35px;
}

.phone_info h3{
    position: relative;
    top: 5px;
}

.phone_info h4{
    position: absolute;
    left: 258px;
    margin-top: 25px;
}

.Email_info{
    display: flex;
}

.Email_info i{
    font-size: 50px;
    padding-right: 35px;
}

.Email_info h3{
    position: relative;
    top: 5px;
    margin-left: -4px;
}

.Email_info h4{
    position: absolute;
    left: 258px;
    margin-top: 25px;
}

.follow_us_links ul li{ 
    display: flex;
}

.follow_us_links h1{
    font-size: 30px;
    padding-top: 20px;
}

.follow_us_icons{
    display: flex;
}

.follow_us_icons i{
    font-size: 40px;
    color: black;
    padding-right: 15px;
}

.submit_form {
    width: 100%;
    padding-top: 20px;
}

.input_box {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
}

.input_box input,
.input_box textarea {
    width: 500px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    outline: none;
}

.contact_us_button{
    font-size: 16px;
    padding: 8px 15px 8px 15px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    background-color: #152153e0;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 20px;
}
