body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100vh;
}

header {
    /* background-color: violet; */
    box-shadow: 0 0 30px rgba(231, 24, 24, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

/* .image-container,
.list-container,
.search-bar,
.btn1 {
    border: 1px solid black;
} */

header img {
    height: 100px;
    width: 150px;
}

li {
    margin-right: 7px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

form input {
    height: 3px;
    padding: 12px;
    border: none;
    border-radius: 20px;
}

form button {
    height: 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn1 button {
    border: none;
    padding: 3px;
    font-size: 16px;
    width: 75px;
}

.list-container ul li:focus {
    background-color: black;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.course-grid {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    margin: 7px;
}

.course-grid img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 20px 5px 20px;
}

.course-details {
    text-align: center;
    margin: 0 7px 5px 7px;
}