* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    background-color: whitesmoke;
    height: 100vh;
    /* background: linear-gradient(45deg, #FFFFFF, #808080); */
}

.category-container {
    display: flex;
    flex-direction: column;
}

.category-container a {
    cursor: pointer;
}

 h3{
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
}

.art-container,
.business-container,
.science-container,
.technology-container,
.softskill-container {
    background-color: #BB8A52;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    line-height: 24px;
}
