/*Navigation Bar*/

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.main_landing_section {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-position: center;
    
    
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    padding: 0 10px;
    margin-left: 0;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    position: fixed;
    z-index: 1000;
    
}

.navbar div img {
    width: 180px;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px; 
    cursor: pointer;
}

.navbarlist{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    
}

.navbarlist li a{
    color: #152153;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 12px;
    text-decoration: none;
    transition: 0.1s;   
}

.navbarlist li a:hover{
    color: #172e83;
}

.navbarlist li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #172e83;
    display: block;
    transition: 0.4s linear;
}

.navbarlist li a:hover::after{
    width: 100%;
}

.search_bar{
    margin-right: 40px;
    margin-left: 30px;
    position: relative;
}

.search_bar form input{
    background: transparent;
    width: 20vw;
    font-size: 15px;
    padding: 6px;
    border: 2px solid #152153;
    outline: none;
    border-radius: 40px;
    color: #152153;
}

.search_bar form input::placeholder{
    color: #152153;
}

.search_bar button{
    padding: 6px 6px;
    font-size: 16px;
    float: left;
    border: none;
    border-radius: 40px;
    position: absolute;
    top: 2px;
    right: 2px;
    background: #1521533d;
}

.nav_buttons{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.nav_buttons button{
    padding:6px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    padding: 7px 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 550;
    align-items: center;
}
.register_button{
    background-color: transparent;
    border: 2px solid #152153;
    color: #152153;
}

.register_button:hover{
    background-color: #152153;
    color: white;
}

.login_button{
    background-color: #152153;
    color: white;
    border: none;
}

.login_button:hover{
    background-color: #172e83;
    color: white;
    border: none;
}

/*navigation bar changing css
.navbar.scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;

}*/

/*.user_profile{
    border:2px solid lightgrey;
    font-size: 15px;
    padding:6px 8px 6px 8px;
    background: rgba(211, 211, 211, 0.5);
    margin-right: -55px;

}*/






/*Footer CSS*/



.container{
    width: 100%;
    height: auto;
    background-color: #111a41;
    margin: auto;
    overflow: hidden;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.footer_columns ul a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer_columns ul li{
    padding: 2px;
    list-style-type: none;
}

.footer_section{
    background-color: #152153;
    padding: 10px 10px 10px 10px;
}

.footer_columns{
    width: 225px;
    padding:25px;
}

.footer_columns h4{
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer_columns p{
    color: white;
    font-size: 15px;
}

.footer_columns img{
    width: 100px;
    padding-bottom: 20px;
}
